[submodule "mxe"]
	path = mxe
	url = https://github.com/InitialForce/mxe.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/InitialForce/FFmpeg.git
[submodule "ffms2"]
	path = ffms2
	url = https://github.com/InitialForce/ffms2.git
